[Desktop Entry]
Version=1.0
Name=Gmail
Comment=Gmail
Exec=omarchy-launch-webapp https://mail.google.com
Terminal=false
Type=Application
Icon=/home/tuomo/.local/share/applications/icons/Gmail.png
StartupNotify=true
