[Desktop Entry]
Version=1.0
Name=Telegram
Comment=Telegram
Exec=omarchy-launch-webapp https://web.telegram.org/k/
Terminal=false
Type=Application
Icon=/home/tuomo/.local/share/applications/icons/Telegram.png
StartupNotify=true
