[Desktop Entry]
Version=1.0
Name=WhatsApp
Comment=WhatsApp
Exec=omarchy-launch-or-focus-webapp chrome-web.whatsapp.com_-Default https://web.whatsapp.com/
Terminal=false
Type=Application
Icon=/home/tuomo/.local/share/applications/icons/WhatsApp.png
StartupNotify=true
